<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-slider.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="row">
    <div class="col-sm-4 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h3><%= title %></h3></span>
            </div>
            <div class="panel-body">
                <!-- Video frame here -->
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="video-frame">
                                Loading video...
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form method="POST" action="/gif">
                            <div class="form-group clearfix">
                                <div class="col-xs-2 col-md-1 slider-label text-right">
                                    <b>00:00</b>
                                </div>
                                <div class="col-xs-8 col-md-10">
                                    <input id="ex2"
                                           type="text"
                                           class="span2"
                                           value=""
                                           data-slider-min="0"
                                           data-slider-max="127"
                                           data-slider-step="0.1"
                                           data-slider-value="[0,127]" />
                                </div>
                                <div class="col-xs-2 col-md-1 slider-label">
                                    <b>02:07</b>
                                </div>
                            </div>
                            <button id="generate-btn" type="submit" class="btn btn-primary center-block">Generate GIF</button>
                        </form>

                        <form method="POST" action="/screenshot">
                            <div class="form-group clearfix">
                                <div class="col-xs-2 col-md-1 slider-label text-right">
                                    <b>00:00</b>
                                </div>
                                <div class="col-xs-8 col-md-10">
                                    <input id="ex1"
                                           data-slider-id='ex1Slider'
                                           type="text"
                                           data-slider-min="0"
                                           data-slider-max="127"
                                           data-slider-step="0.1"
                                           data-slider-value="63.5"/>
                                </div>
                                <div class="col-xs-2 col-md-1 slider-label">
                                    <b>02:07</b>
                                </div>
                            </div>
                            <button id="screenshot-btn" type="submit" class="btn btn-primary center-block">Save screenshot</button>
                        </form>


                        <button id="stitch-button" type="submit" class="btn btn-primary center-block disabled">Stitch GIF's</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9">
        <div id="generated-gifs" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center">Generated GIF's</h3>
            </div>
            <div id="gif-container" class="panel-body text-center clearfix">
                <!-- GIFs get placed here -->
            </div>
        </div>
        <div id="stitched-gifs" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center">Stitched GIF's</h3>
            </div>
            <div id="stitched-container" class="panel-body text-center clearfix">
                <!-- GIFs get placed here -->
            </div>
        </div>
        <div id="generated-screenshots" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center">Generated screenshots</h3>
            </div>
            <div id="screenshots-container" class="panel-body text-center clearfix">
                <!-- screenshots get placed here -->
            </div>
        </div>
    </div>
</div>
</body>

<!--<script src="http://jwpsrv.com/library/y1jDskg5EeKkXyIACp8kUw.js"></script>-->
<!--<script type="text/javascript">jwplayer.key="8riEpi5GqbKwqkQMyRHDgCw2UwbnFOmo8KE9i5IrPB8=";</script>-->
<script src="/javascripts/jwplayer.js"></script>
<script type="text/javascript">jwplayer.key="ahR9mIugFeHBUhlrFl5SywQjYTEGqrAlE7YHZg==";</script>
<script>var videoFile = <%- video %></script>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap-slider.js"></script>
<script src="/javascripts/post_gif.js"></script>
</html>
