<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<div class="gif-container">
    <img src="<%= src %>"/>
</div>
<a href="#" class="post-gif">test link</a>
</body>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/post_gif.js"></script>
</html>
