<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <link rel='stylesheet' href='/stylesheets/bootstrap-slider.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/fileupload.css' />
  </head>
  <body>
      <div class="container">
          <form id="files-form" action="/editor" method="POST" enctype="multipart/form-data">
              <div class="col-xs-12">
                  <h1 class="text-center">Drag and drop a video to edit<span class="text-danger">*</span></h1>
                  <div class="row">
                      <div class="form-group col-xs-12">
                          <input type="file" id="video" name="single_file" accept="video/*" />
                      </div>
                  </div>
              </div>
              <div class="col-xs-12">
                  <p class="lead text-center">-- OR --</p>

                  <div class="col-xs-12 col-md-6">
                      <h1 class="text-center">Paste a HLS URL's<span class="text-danger">*</span></h1>
                      <div class="row">
                          <div class="col-xs-12 col-sm-6 col-sm-offset-3 form-group">
                              <input name="stream" type="text" placeholder="http://vod.stream.vrt.be/ketnet_geo/_definst_/mp4:ketnet/2014%2F11%2FBUMBA_IN_AUSTRALIE_R1A1_20141124_230003_Ketnet2011_GEO_D10.mp4/playlist.m3u8" id="stream" class="form-control center-block" />
                          </div>
                      </div>
                  </div>

                  <div class="col-xs-12 col-md-6">
                      <h1 class="text-center">Paste video URL's<span class="text-danger">*</span></h1>
                      <div class="row">
                          <div class="col-xs-12 col-sm-6 col-sm-offset-3 form-group">
                              <input name="1" type="text" placeholder="https://www.youtube.com/watch?v=fe4fyhzS3UM" id="1" class="form-control center-block" />
                              <input name="2" type="text" placeholder="https://www.youtube.com/watch?v=EIyixC9NsLI" id="2" class="form-control center-block add-on-click" />
                          </div>
                      </div>
                  </div>
              </div>
              <!--
              <div class="col-xs-12 col-md-6">
                  <h1 class="text-center">Drag and drop multiple files to use</h1>
                  <div class="row">
                      <div class="form-group col-xs-12">
                          <input type="file" multiple="multiple" id="files" name="file" accept="image/*" />
                      </div>
                  </div>
              </div>
              -->

              <div class="text-center" id="required">
                  <p><span class="text-danger">*</span> Only one at a time please</p>
              </div>
              <div class="row">
                  <div class="form-group col-xs-12">
                      <input type="submit" name="funct" id="upload" value="Upload" class="btn btn-success width" >
                      <input type="reset" value="Clear" id="cancel" class="btn btn-danger width"/>
                  </div>
              </div>
          </form>

          <div class="divider"></div>

          <a id="skip-upload" href="/editor" class="btn btn-primary center-block">Go to editor without upload</a>

      </div>
  </body>

  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/fileupload.js"></script>
</html>
